@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

:root{
  --black: #404040;
  --white: #f4f4f4;
  --red: #c23033;
  --bred: #ff3033;
  --green: #40a260;
  --bgreen: #40c260;
  --blue: #3434fe;
  --bblue: #4040fe;
  background-color: var(--black);
}

.App {
  text-align: center;
}


